//firefly on all page
.lighters7 {
  width: 10px;
  position: absolute;
  top: 70%;
  left: 5%;
  animation: animationLightersOnPage 14s ease-in infinite;
}
.lighters8 {
  width: 12px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: animationLightersOnPage 17s ease-in infinite;
}
.lighters9 {
  width: 9px;
  position: absolute;
  top: 5%;
  left: 15%;
  animation: animationLightersOnPage 15s ease-in infinite;
}
.lighters10 {
  width: 15px;
  position: absolute;
  top: 15%;
  left: 20%;
  animation: animationLightersOnPage 13s ease-in infinite;
}
.lighters11 {
  width: 10px;
  position: absolute;
  top: 12%;
  left: 85%;
  animation: animationLightersOnPage 10s ease-in infinite;
}
.lighters12 {
  width: 14px;
  position: absolute;
  top: 20%;
  left: 30%;
  animation: animationLightersOnPage 6s ease-in infinite;
}
.lighters13 {
  width: 16px;
  position: absolute;
  top: 30%;
  left: 35%;
  animation: animationLightersOnPage 17s ease-in infinite;
}
.lighters14 {
  width: 12px;
  position: absolute;
  top: 14%;
  left: 40%;
  animation: animationLightersOnPage 11s ease-in infinite;
}
.lighters15 {
  width: 14px;
  position: absolute;
  top: 2%;
  left: 5%;
  animation: animationLightersOnPage 8s ease-in infinite;
}
.lighters16 {
  width: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  animation: animationLightersOnPage 16s ease-in infinite;
}
.lighters17 {
  width: 20px;
  position: absolute;
  top: 13%;
  left: 55%;
  animation: animationLightersOnPage 12s ease-in infinite;
}
.lighters18 {
  width: 20px;
  position: absolute;
  top: 23%;
  left: 20%;
  animation: animationLightersOnPage 19s ease-in infinite;
}
.lighters19 {
  width: 20px;
  position: absolute;
  top: 34%;
  left: 15%;
  animation: animationLightersOnPage 17s ease-in infinite;
}
.lighters20 {
  width: 20px;
  position: absolute;
  top: 10%;
  left: 80%;
  animation: animationLightersOnPage 12s ease-in infinite;
}
.lighters21 {
  width: 15px;
  position: absolute;
  top: 0;
  left: 70%;
  animation: animationLightersOnPage 11s ease-in infinite;
}
.lighters22 {
  width: 20px;
  position: absolute;
  top: 25%;
  left: 75%;
  animation: animationLightersOnPage 16s ease-in infinite;
}
.lighters23 {
  width: 20px;
  position: absolute;
  top: 30%;
  left: 80%;
  animation: animationLightersOnPage 10s ease-in infinite;
}
.lighters24 {
  width: 20px;
  position: absolute;
  top: 35%;
  left: 85%;
  animation: animationLightersOnPage 14s ease-in infinite;
}
.lighters25 {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 90%;
  animation: animationLightersOnPage 13s ease-in infinite;
}
.lighters26 {
  width: 20px;
  position: absolute;
  top: 80%;
  left: 95%;
  animation: animationLightersOnPage 11s ease-in infinite;
}
.lighters27 {
  width: 20px;
  position: absolute;
  top: 60%;
  left: 5%;
  animation: animationLightersOnPage 11s ease-in infinite;
}
.lighters28 {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  animation: animationLightersOnPage 11s ease-in infinite;
}
.lighters29 {
    width: 20px;
    position: absolute;
    top: 70%;
    left: 90%;
    animation: animationLightersOnPage 13s ease-in infinite;
  }
  .lighters30 {
    width: 20px;
    position: absolute;
    top: 90%;
    left: 95%;
    animation: animationLightersOnPage 11s ease-in infinite;
  }
  .lighters31 {
    width: 20px;
    position: absolute;
    top: 75%;
    left: 2%;
    animation: animationLightersOnPage 11s ease-in infinite;
  }
  .lighters32 {
    width: 20px;
    position: absolute;
    top: 55%;
    left: 8%;
    animation: animationLightersOnPage 11s ease-in infinite;
  }

@keyframes animationLightersOnPage {
  0% {
    transform: translateY(0px);
    scale: 0.9;
    opacity: 1;
  }

  50% {
    transform: translateY(40px) translateX(-20px);
    opacity: 0;
  }

  80% {
    transform: translateY(60px) translateX(20px);
    scale: 0.7;
    opacity: 0.5;
  }

  100% {
    transform: translateY(0px);
    scale: 0.5;
    opacity: 1;
  }
}
