@import './variables.scss';
@import './footer.scss';

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.title-game {
  width: $container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  @include media-max-width(700px) {
    width: 100%;
  }

  .title-game__language {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;

    animation: animationTitle 2.5s forwards ease-out;

    @include media-max-width(1000px) {
      top: 0;
      right: 0;
    }

    @include media-max-width(550px) {
      display: flex;
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px;

      &:hover {
        text-decoration: underline;
      }

      @include media-max-width(1000px) {
        font-size: 1.2rem;
        font-weight: bold;
      }
      @include media-max-width(550px) {
        font-size: 1rem;
        font-weight: bold;
        margin: 5px;
      }
    }

    .title-game__language-favorite {
      color: #f9f28d;
      font-weight: bold;
    }
  }

  .title-game__logo {
    margin: 0 auto;
    animation: animationTitle 2.5s forwards ease-out;

    @include media-max-width(900px) {
      width: 95%;
    }

    img {
      width: 100%;
    }
  }

  @keyframes animationTitle {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animationTitleBackInJS {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  .background-resin {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .background-light {
    position: relative;
    width: 80%;
    height: 50%;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    animation: animationLight 2.5s forwards ease-out;

    .background-light-lighters1 {
      width: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animationLighters 7s linear infinite;
    }

    .background-light-lighters2 {
      width: 9px;
      position: absolute;
      top: 30%;
      left: 30%;
      animation: animationLighters 9s linear infinite;
    }

    .background-light-lighters3 {
      width: 5px;
      position: absolute;
      top: 30%;
      left: 70%;
      animation: animationLighters 15s ease-in infinite;
    }

    .background-light-lighters4 {
      width: 10px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animationLighters 10s ease-in infinite;
    }

    .background-light-lighters5 {
      width: 7px;
      position: absolute;
      top: 18%;
      left: 20%;
      transform: translate(-50%, -50%);
      animation: animationLighters 5s ease-in infinite;
    }

    .background-light-lighters6 {
      width: 10px;
      position: absolute;
      top: 10%;
      left: 60%;
      transform: translate(-50%, -50%);
      animation: animationLighters 10s ease-in infinite;
    }

    @keyframes animationLighters {
      0% {
        transform: translateY(0px);
        scale: 0.5;
      }

      50% {
        transform: translateY(40px) translateX(-20px);
        scale: 0.7;
        opacity: 0.2;
      }

      80% {
        transform: translateY(60px) translateX(20px);
        scale: 0.2;
      }

      100% {
        transform: translateY(0px);
        scale: 0.5;
        opacity: 1;
      }
    }

    .background-light__portal {
      width: 100%;

      @include media-min-width(1600px) {
        width: 70%;
      }
    }

    @keyframes animationLight {
      from {
        scale: 0.95;
      }
      to {
        scale: 1;
      }
    }

    .background-light__paw {
      position: absolute;
      top: calc(100% + 52%);
      left: 70%;
      transform: translate(-50%, -50%);
      width: 50%;

      animation: animationPaw 2.5s forwards ease-out;

      @include media-min-width(1600px) {
        width: 35%;
      }
    }

    @keyframes animationPaw {
      from {
        top: calc(100% + 30%);
        left: 60%;
        scale: 1;
      }
      to {
        top: 62%;
        left: 50%;
        scale: 0.7;
      }
    }

    @keyframes animationPawBackInJS {
      from {
        top: 62%;
        left: 50%;
        scale: 0.7;
      }
      to {
        top: calc(100% + 52%);
        left: 60%;
        scale: 1;
      }
    }
  }

  img {
    margin: 0 auto;

    @include media-max-width(900px) {
      width: 80%;
    }
  }
}

// .description-game {
//   @include media-min-width(700px) {
//     width: 550px;
//     height: 350px;
//   }
// }

.description-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  margin-top: 10px;
  width: 500px;
  height: 340px;

  background: no-repeat url('../assets/horizontal_frame.png');
  background-size: 100%, auto, contain;

  @include media-max-width(550px) {
    width: 400px;
    height: 280px;
  }

  @include media-max-width(400px) {
    width: 300px;
    height: 215px;
  }

  .description-game__parag {
    width: 60%;
    margin: 30px auto;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    // background: rgba(255, 255, 255, 0.49);

    @include media-max-width(700px) {
      width: 80%;
      font-size: 21px;
    }

    @include media-max-width(400px) {
      width: 80%;
      font-size: 18px;
    }
  }
}

h6 {
  color: $color;
}

.download-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  @include media-max-width(700px) {
    width: 420px;
  }

  @include media-max-width(400px) {
    width: 330px;
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 350px;
    height: 175px;
    // background: no-repeat url(../assets/frame_download.png);
    // background-size: 100%, auto, contain;
    background: 100% / contain no-repeat url(../assets/frame_download.png);


    @include media-max-width(700px) {
      width: 220px;
      height: 110px;
    }

    @include media-max-width(400px) {
      width: 180px;
      height: 90px;
    }

    .download-text {
      color: #ffffff;
      font-size: 28px;
      font-weight: bold;

      @include media-max-width(700px) {
        font-size: 18px;
      }

      @include media-max-width(400px) {
        font-size: 15px;
      }
    }
  }

  .download-android {
    img {
      @include media-max-width(700px) {
        width: 60px;
      }

      @include media-max-width(700px) {
        width: 40px;
      }
    }
  }
}

.descr-info {
  max-width: 70%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  @include media-max-width(1200px) {
    max-width: 90%;
    margin: 30px auto;
  }

  @include media-max-width(850px) {
    width: 100%;
  }

  @include media-max-width(700px) {
    flex-direction: column;
  }

  .descr-info__character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .descr-info__title {
      color: #ffffff;
      font-size: 28px;

      @include media-max-width(400px) {
        font-size: 22px;
      }
    }

    .descr-info__img {
      max-width: 150px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0px 0px 1000px 30px rgba(255, 255, 255, 0.3);

      @include media-max-width(700px) {
        height: 150px;
      }

      @include media-max-width(400px) {
        height: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .descr-info__text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto 30px auto;
      width: 430px;
      height: 320px;
      background: center / cover no-repeat url(../assets/horizontal_frame.png);
      // background: no-repeat url(../assets/horizontal_frame.png);
      // background-size: 100%, auto, contain;
      // background-size: 100%, 100%, contain;

      @include media-max-width(850px) {
        width: 330px;
        height: 240px;
      }

      @include media-max-width(700px) {
        width: 400px;
        height: 320px;
      }

      @include media-max-width(400px) {
        width: 330px;
        height: 240px;
      }

      p {
        width: 70%;
        margin: 0;
        color: #ffffff;

        @include media-max-width(850px) {
          font-size: 12px;
        }
  
        @include media-max-width(700px) {
          font-size: 16px;
        }

        @include media-max-width(400px) {
          font-size: 12px;
        }
      }
    }

    .descr-info__text-eddi {
      background: center / cover no-repeat url(../assets/horizontal_frame__eddi.png);
    }
  }
}

// .descr-info__eddi-text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 30px auto;
//   height: 500px;
//   width: 350px;
//   background: no-repeat url(../assets/vertical_frame.png);
//   background-size: 100%, auto, contain;

//   @include media-max-width(400px) {
//     height: 350px;
//     width: 250px;
//   }

//   p {
//     width: 55%;
//     margin: 0;
//     color: #ffffff;

//     @include media-max-width(400px) {
//       font-size: 12px;
//     }
//   }
// }
