@import "./variables.scss";
@import "./footer.scss";

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

.title-game {
  width: $container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  @include media-max-width(700px) {
    width: 100%;
  }

  .title-game__logo {
    margin: 0 auto;
    animation: animationTitle 2.5s forwards ease-out;

    @include media-max-width(900px) {
      width: 95%;
    }

    img {
      width: 100%;
    }
  }

  @keyframes animationTitle {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animationTitleBackInJS {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  .background-resin {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .background-light {
    position: relative;
    width: 80%;
    height: 50%;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    animation: animationLight 2.5s forwards ease-out;

    .lighters1 {
      width: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animationLighters 7s linear infinite;
    }

    .lighters2 {
      width: 9px;
      position: absolute;
      top: 30%;
      left: 30%;
      animation: animationLighters 9s linear infinite;
    }

    .lighters3 {
      width: 5px;
      position: absolute;
      top: 30%;
      left: 70%;
      animation: animationLighters 15s ease-in infinite;
    }

    .lighters4 {
      width: 10px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animationLighters 10s ease-in infinite;
    }

    .lighters5 {
      width: 7px;
      position: absolute;
      top: 18%;
      left: 20%;
      transform: translate(-50%, -50%);
      animation: animationLighters 5s ease-in infinite;
    }

    .lighters6 {
      width: 10px;
      position: absolute;
      top: 10%;
      left: 60%;
      transform: translate(-50%, -50%);
      animation: animationLighters 10s ease-in infinite;
    }

    @keyframes animationLighters {
      0% {
        transform: translateY(0px);
        scale: 0.5;
      }

      50% {
        transform: translateY(40px) translateX(-20px);
        scale: 0.7;
        opacity: 0.2;
      }

      80% {
        transform: translateY(60px) translateX(20px);
        scale: 0.2;
      }

      100% {
        transform: translateY(0px);
        scale: 0.5;
        opacity: 1;
      }
    }

    .background-light__portal {
      width: 100%;
    }

    @keyframes animationLight {
      from {
        scale: 0.95;
      }
      to {
        scale: 1;
      }
    }

    .background-light__paw {
      position: absolute;
      top: calc(100% + 52%);
      left: 70%;
      transform: translate(-50%, -50%);
      width: 50%;

      animation: animationPaw 2.5s forwards ease-out;
    }

    @keyframes animationPaw {
      from {
        top: calc(100% + 30%);
        left: 60%;
        scale: 1;
      }
      to {
        top: 62%;
        left: 50%;
        scale: 0.7;
      }
    }

    @keyframes animationPawBackInJS {
      from {
        top: 62%;
        left: 50%;
        scale: 0.7;
      }
      to {
        top: calc(100% + 52%);
        left: 60%;
        scale: 1;
      }
    }
  }

  img {
    margin: 0 auto;

    @include media-max-width(900px) {
      width: 80%;
    }
  }
}

h3 {
  width: 60%;
  font-size: 28px;
  margin: 20px auto;
  text-align: center;
  color: yellow;
  border: 2px solid yellow;
}

.frame-slider {
  position: relative;
  width: 100%;
  height: 100%;

  .frame-slider__border {
    z-index: 10;
    width: 95%;
    height: calc(100% + 43%);
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);

    @include media-min-width(1000px) {
      width: 900px;
    }
  }
}

h6 {
  color: $color;
}

.descr-game {
  width: 60%;
  margin: 30px auto;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.49);

  @include media-max-width(700px) {
    width: 80%;
    font-size: 21px;
  }

  @include media-max-width(400px) {
    width: 80%;
    font-size: 18px;
  }
}

.download-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

  @include media-max-width(700px) {
    width: 420px;
  }

  @include media-max-width(400px) {
    width: 330px;
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 160px;
    background: no-repeat url(../assets/66_1.png);
    background-size: 100%, auto, contain;

    @include media-max-width(700px) {
      width: 230px;
      height: 110px;
    }

    .download-text {
      color: #f9f28d;
      font-size: 42px;
      font-weight: bold;

      @include media-max-width(700px) {
        font-size: 26px;
      }
    }
  }

  .download-android {
    img {
      @include media-max-width(700px) {
        width: 60px;
      }
    }
  }
}

.descr-info {
  max-width: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;

  @include media-max-width(1200px) {
    max-width: 80%;
    margin: 30px auto;
  }

  @include media-max-width(900px) {
    max-width: 100%;
    margin: 30px 0;
  }

  @include media-max-width(700px) {
    flex-direction: column;
  }
}

.descr-info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 400px;
  height: 280px;
  // background: center / cover no-repeat url(../assets/horizontal_frame.png);
  background: no-repeat url(../assets/horizontal_frame.png);
  background-size: 100%, auto, contain;

  @include media-max-width(400px) {
    width: 330px;
    height: 240px;
  }

  p {
    width: 70%;
    margin: 0;
    color: #f9f28d;

    @include media-max-width(400px) {
      font-size: 12px;
    }
  }
}

.descr-info__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  height: 500px;
  width: 350px;
  background: no-repeat url(../assets/vertical_frame.png);
  background-size: 100%, auto, contain;

  @include media-max-width(400px) {
    height: 350px;
    width: 250px;
  }

  p {
    width: 50%;
    margin: 0;
    color: #f9f28d;

    @include media-max-width(400px) {
      font-size: 12px;
    }
  }
}

.parag {
  font-size: 22px;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  color: #f9f28d;

  @include media-max-width(700px) {
    font-size: 18px;
  }

  @include media-max-width(400px) {
    font-size: 12px;
  }
}
