@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.preloader {
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: rgb(0, 0, 0);

  visibility: visible;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  .monster-eyes1 {
    width: 100px;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: 2s eyesMonster ease-in infinite;
  }
  .monster-eyes2 {
    width: 100px;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(-50%, -50%);
    animation: 4s eyesMonster ease-in infinite;
  }
  .monster-eyes3 {
    width: 100px;
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    animation: 3s eyesMonster ease-in infinite;
    @include media-max-width(600px) {
      left: 70%;
      top: 70%;
    }
  }
  @keyframes eyesMonster {
    100% {
      opacity: 0;
      transform: rotate(0deg);
    }
    50% {
      opacity: 0.7;
      transform: rotate(10deg);
    }
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
  }

  .load-progress__percentage {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: medium;
    font-weight: 700;

    &::before {
      font: 600 20px system-ui;
      content: counter(count);
      animation: counter 5s linear forwards alternate;
      counter-reset: count 0;
    }

    @keyframes counter {
      0% {
        counter-increment: count 0;
      }
      10% {
        counter-increment: count 0;
      }
      25% {
        counter-increment: count 20;
      }
      30% {
        counter-increment: count 40;
      }
      40% {
        counter-increment: count 50;
      }
      50% {
        counter-increment: count 70;
      }
      60% {
        counter-increment: count 70;
      }
      70% {
        counter-increment: count 80;
      }
      100% {
        counter-increment: count 100;
      }
    }
  }

  .load-progress {
    transition: 4s;
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 5px;
    border-radius: 50px;
    background-color: #ffff;
  }

  .preloader-scene {
    width: 90%;
    position: relative;

    .preloader-scene__image {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 65%;

      @include media-max-width(600px) {
        width: 90%;
      }
    }

    .preloader-image__monster {
      position: absolute;
      margin-top: 10%;
      left: 80%;
      transform: translate(-50%, -50%);
      width: 25%;
      animation: monsterAnimation 2s both infinite;

      @include media-max-width(600px) {
        margin-top: 17%;
      }

      @keyframes monsterAnimation {
        from {
          left: 85%;
          filter: blur(1px);
        }

        to {
          left: 15%;
          opacity: 0;
          filter: blur(4px);
        }
      }
    }
  }
}

.preloader-done {
  opacity: 0;
  visibility: hidden;
}
